<?xml version="1.0" encoding="utf-8"?>
<log4net>
    <appender name="MetricsAppender" type="log4net.Appender.FileAppender">
        <file value="metrics-ahead.log" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date;%message%newline" />
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="INFO" />
            <levelMax value="INFO" />
        </filter>
    </appender>

    <appender name="ErrorsFileAppender" type="log4net.Appender.FileAppender">
        <file value="errorsLog.log" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date %-5level %logger - %message%newline" />
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="ERROR" />
            <levelMax value="FATAL" />
        </filter>
    </appender>
    <appender name="DebugFileAppender" type="log4net.Appender.FileAppender">
        <file value="debug.log" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date %-5level %logger - %message%newline" />
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
            <levelMin value="DEBUG" />
            <levelMax value="DEBUG" />
        </filter>
    </appender>
    
    <root>
        <appender-ref ref="MetricsAppender" />
        <appender-ref ref="ErrorsFileAppender" />
        <appender-ref ref="DebugFileAppender" />
        <level value="ALL" />
    </root>
</log4net>